.cart-page-main{
   background:#30444E;
   width:319px;
   height:773px;
   display:flex;
   flex-direction:column;
   align-items:center;
   border-radius:25px;
   margin-top:20px;
   margin-bottom:20px;
}

.articles-info{
    margin-top:20px;
}

.article-info{
    margin-bottom:12px;
}

.user-info{
    margin-top:-8px;
}

.terms-conditions{
    margin-top:18px;
}

.next-button{
    margin-top:20px;
}